@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.editform{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
    border-radius: 4px;
    margin-left: 50px;
    display: block;
	position:fixed;
	padding: 1rem;
}

input, select {
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0.5rem;
}

.button {
	border: 1px solid #4a4a4a;
	border-radius: 4px;
	padding: 0.5rem;
	margin: 0.2rem;
}