@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.editform{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: white;
    border-radius: 4px;
	padding: 1rem;
	top: 0;
    right: 0;
    height: 100%;
	z-index: 100;
}

.overlay {
	opacity: 80%;
	position: fixed;
	background-color: black;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: 50;
}

input, select {
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0.5rem;
}

.button {
	border: 1px solid #4a4a4a;
	border-radius: 4px;
	padding: 0.5rem;
	margin: 0.2rem;
}

.aside {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}